body {
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    height: 132px;
    width: 100%;
    left: 0px;
    top: 0px;
    background-color: red;
    z-index: 1000;
}

#logo {
    position: absolute;
    left: 2%;
    top: 5%;
    width: 18vw;
    cursor: pointer;
}

#menu {
    position: absolute;
    left: 20.51%;
    top: 0;
    width: 62%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5vw;
    font-family: "Segoe UI";
    font-weight: bold;
}

.menuComponentWrap:hover {
    animation-name: changeColorToWhite;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes changeColorToWhite {
    0% {
        background-color: red;
        color: white;
        transform: rotateY(0);
    }
    50% {
        transform: rotateY(90deg);
    }
    100% {
        background-color: white;
        color: red;
        transform: rotateY(0);
    }
}

.menuComponentWrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25.5%;
    height: 100%;
    cursor: pointer;
    color: white;
}

#iconsWrap {
    position: absolute;
    left: 83%;
    top: 34.85%;
    width: 17%;
    display: flex;
    justify-content: space-around;
}

.icon {
    height: 45px;
    cursor: pointer;
}

.imgComp {
    width: 1000px;
    height: auto;
}

#gallery {
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 132px;
}

#galleryHeader {
    font-size: 3vw;
    font-family: "Segoe UI";
    padding-top: 4%;
    padding-bottom: 4%;
}

.rowImageWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 3vw;
}

.galImg {
    width: 23vw;
    cursor: pointer;
}

.galImg:hover {
    animation-name: scale;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}